<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>処置履歴</title>
</head>
<body>
    <h1>処置履歴</h1>
    {% if no_history %}
        <p>該当する患者には処置履歴がありません。</p>
    {% else %}
        <p>患者ID: {{ patient.patient_id }}</p>
        <p>名前: {{ patient.name }}</p>
        <h2>処置履歴</h2>
        <ul>
            {% for prescription in prescriptions %}
                <li>{{ prescription.date }}: {{ prescription.medicine.medicine_name }} - 投与量: {{ prescription.dosage }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'home_doctor' %}">戻る</a>
</body>
</html>