<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>従業員登録</title>
    <script>
        function validateRegisterForm() {
            var empid = document.getElementById('empid').value;
            var empfname = document.getElementById('empfname').value;
            var emplname = document.getElementById('emplname').value;
            var emppasswd = document.getElementById('emppasswd').value;
            var errorMessage = "";

            if (empid === "") {
                errorMessage += "従業員IDを入力してください。\n";
            }

            if (empfname === "") {
                errorMessage += "名を入力してください。\n";
            }

            if (emplname === "") {
                errorMessage += "姓を入力してください。\n";
            }

            if (emppasswd === "") {
                errorMessage += "パスワードを入力してください。\n";
            }

            if (errorMessage !== "") {
                alert(errorMessage);
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<h1>従業員登録</h1>
<form action="{% url 'register_employee' %}" method="POST">
    {% csrf_token %}
        <label for="empid">従業員ID:</label>
        <input type="text" id="empid" name="empid"><br>

        <label for="empfname">名:</label>
        <input type="text" id="empfname" name="empfname"><br>

        <label for="emplname">姓:</label>
        <input type="text" id="emplname" name="emplname"><br>

        <label for="emppasswd">パスワード:</label>
        <input type="password" id="emppasswd" name="emppasswd"><br>

        <label for="emprole">役割:</label>
        <select id="emprole" name="emprole">
            <option value="0">受付</option>
            <option value="1">医師</option>
        </select><br>

        <input type="submit" value="登録">
    </form>
<a href="{% url 'home_kanrisya' %}">
<p>戻る</p></a>
</body>
</html>