<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>患者検索</title>
</head>
<body>
<h1>患者検索</h1>
<form action="/search_patient" method="post">
        <label for="patid">患者ID:</label>
        <input type="text" id="patid" name="patid"><br><br>

        <label for="patfname">患者名:</label>
        <input type="text" id="patfname" name="patfname"><br><br>

        <label for="patlname">患者姓:</label>
        <input type="text" id="patlname" name="patlname"><br><br>

        <label for="hokenmei">保険証記号番号:</label>
        <input type="text" id="hokenmei" name="hokenmei"><br><br>

        <label for="hokenexp">保険の有効期限:</label>
        <input type="date" id="hokenexp" name="hokenexp"><br><br>

        <input type="submit" value="検索">
    </form>
<a href="{% url 'home_uketuke' %}">
<p>戻る</p></a>
</body>
</html>