<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>薬投与指示</title>
</head>
<body>
<h1>薬投与指示</h1>
    <form method="POST" action = {% url 'kakutei' %}>
        {% csrf_token %}
        患者ID:<input type="text" name="patient_id"><br>
        薬を選択:
        <select name="medicine">
            {% for medicine in medicines %}
            <option value="{{ medicine.medicineid }}">{{ medicine.medicinename }}</option>
            {% endfor %}
        </select><br>

       <label for="dosage">投与量:</label>
        <input type="number" name="dosage" id="dosage" min="0"><br>
    <input type="submit" value="確認画面へ">
    </form>
<a href="{% url 'home_doctor' %}">
<p>戻る</p></a>
</body>
</html>