<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>薬投与指示</title>
</head>
<body>
<h1>薬投与指示</h1>
    <form method="post">
        {% csrf_token %}
        <label for="patient_id">患者ID:</label>
        <select name="patient_id" id="patient_id">
            {% for patient in patients %}
                <option value="{{ patient.patient_id }}">{{ patient.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="medicine_id">薬を選択:</label>
        <select name="medicine_id" id="medicine_id">
            {% for medicine in medicines %}
                <option value="{{ medicine.medicine_id }}">{{ medicine.medicine_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="dosage">投与量:</label>
        <input type="number" name="dosage" id="dosage">
        <br>
        <button type="submit">確認</button>
    </form>
<a href="{% url 'home_doctor' %}">
<p>戻る</p></a>
</body>
</html>