<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>薬投与指示</title>
</head>
<body>
<h1>薬投与指示</h1>
    <form action="/add-medication" method="POST">
        {% csrf_token %}
        <label for="patid">患者ID:</label>
        <input type="text" id="patid" name="patid"><br>

        <label for="medicineid">薬を選択:</label>
        <select id="medicineid" name="medicineid">
            {% for medicine in medicines %}
                <option value="{{ medicine.medicineid }}">{{ medicine.medicinename }} ({{ medicine.unit }})</option>
            {% endfor %}
        </select><br>

        <label for="unit">投与量:</label>
        <input type="text" id="unit" name="unit"><br>

        <button type="submit">確認</button>
    </form>
<a href="{% url 'home_doctor' %}">
<p>戻る</p></a>
</body>
</html>