<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>仕入先TBL</title>
</head>
<body>
<h1>仕入先リスト</h1>
<table border="1">
    <tr>
        <th>仕入先ID</th>
        <th>仕入先名</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>資本金</th>
        <th>納期</th>
    </tr>
     {% for shiiregyosha in shiiregyosha_list %}
    <tr>
        <td>{{ shiiregyosha.shiireid }}</td>
        <td>{{ shiiregyosha.shiiremei }}</td>
        <td>{{ shiiregyosha.shiireaddress }}</td>
        <td>{{ shiiregyosha.shiiretel }}</td>
        <td>{{ shiiregyosha.shihonkin }}</td>
        <td>{{ shiiregyosha.nouki }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'home_kanrisya' %}">
<p>戻る</p></a>
</body>
</html>